---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
BreakBeforeBraces: Allman
SpaceBeforeParens: Never
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
SortIncludes: CaseSensitive
PointerAlignment: Left
